# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

#ignore devel
sites/all/modules/devel

#ignore specific cache directories
cache/*

#ignore some svg test stuff
sites/all/libraries/svg_sanitizer/tests/data/