// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

body{
    background-image: url('../img/Visit-to-StJoesHospital-farm.jpg');
    background-image: url('../img/The-Quito-Project.jpg');
    background-image: url('../img/Grese-class-at-RadrickForest-DaveBrenner-photo.jpg');
    //background-image: url('../img/lightbulb-idea-yellows.jpg');
  	background-size: cover;
  	background-attachment: fixed;
    &.page-goals{
      background-image: url('../img/GVSU-Dance.jpg');
    }
    &.node-type-case-study,
    &.node-type-example,
    &.page-examples-of-engaged-learning{
      background-image: url('../img/The-Quito-Project.jpg');
      background-image: url('../img/Light-bulb-on-blue-horizon.jpg');
    }
    &.page-instruments,
    &.node-type-instrument,
    &.page-node-9{
      background-image: url('../img/Ancient.World.jpg');
    }
}

.sheer{
  background: rgba(51,51,51,.5);
}

#header-wrapper{
  font-family: 'robotothin';
  background-color: rgba(0, 39, 76, 0.85);
	margin-bottom: 60px;
  color: white;
  font-size: .85em;
  @media @tablet {
    font-size: 1em;
  }
}

.main-menu{
  font-family: 'robotothin';
  font-size: @font-size-h4;
  text-transform: uppercase;
  padding-bottom: 35px;
  li{
    ul.dropdown-menu{
	     box-shadow: none;
       border: none;
       width: 500px;
       text-align:left;
       li{
         position: relative;
         display: inline-block;
       }
     }
     &.open a{
       padding-bottom:5px;
     }
     &.last > .dropdown-menu {
        right: 0;
	      left: initial;
	      text-align: right;
     }
  }
}
.dropdown-menu > li > a,
.dropdown-menu > .active > a {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
//==alignment of nav when collapsed
.navbar-default .navbar-collapse{
  clear:both;
  margin-top: 1em;
  padding: 0px;
  margin-left: -15px;
  margin-right: -15px;
  ul{
    text-align:right;
  }
  &.in{
    margin-left: 15px;
    margin-right: 15px;
    .dropdown li{
        display: block;
      }
    }
}

a {
  &.name {
    text-transform: uppercase;
	//  letter-spacing: 1px;
    color: white;
    font-size: @font-size-h4;
    @media @tablet {
      font-size: @font-size-h1;
    }
    &:hover,
    &:focus,
    &:active{
      border-bottom: 1px solid white;
	    text-decoration: none;
    }
    &:visited{
      color: white;
    }
  }
}

.region-util-navigation .nav {
  @media (max-width: @screen-sm-min){
    display: none;
  }
  text-align: right;
  font-size: @font-size-h6;
  li{
    display: inline-block;
    text-align: right;
  }
  a{
    color: white;
    &:hover,
    &:focus,
    &:active{
        color: #FFCB05; /*official yellow*/
        text-decoration: underline;
    }
    &:visited{
      color: white;
    }
  }
}

#footer-wrapper{
	background-color: #333;

  .footer{
    border: none;
    color: white;
    img{
	     width: 100px;
	      float: right;
	       padding-left: 10px;
       }
   }
   .block{
     margin-bottom: 1em;
   }

}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

//== Drupal views

.page-header{
  margin-bottom: 0px;
  padding: 45px;
}
.page-header,
.view-header,
.view-filters,
.view-content{
  background-color: rgba(255,255,255, .85);
  padding: 45px;
  border-bottom: none;
}
.view-header{
  padding: 0px 45px 45px 45px;
  margin-bottom: 60px;
}
.view-filters{
  margin-bottom: 0px;
  padding-bottom: .5em;
}
.view-content{

}
.views-row{
  padding-bottom: 1em;
}

.views-field{
  padding-bottom: 1em;
}

.node-type-page .region-content{
  /*background: rgba(255,255,255, .85);*/

}
//== button
.btn{
  text-transform: uppercase;
}

//== Mixins
.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:focus,
  &.focus {
    color: @color;
    background-color: lighten(@background, 10%);
        border-color: lighten(@border, 25%);
  }
  &:hover {
    color: @color;
    background-color: lighten(@background, 10%);
        border-color: lighten(@border, 12%);
  }
}

//== Case study specifics
.attention{
  color: white;
  padding: 30px 0px 30px 0px;
  margin-bottom: 120px;
  .field-name-body{
    width: 80%;
    @media @tablet{ width: 60%;}
    padding: 30px 0px;
    margin:auto;
    border-top: 2px solid white;
    border-bottom:2px solid white;
  }
  p:first-child{
    font-size: @font-size-h2;
    font-family: 'Bad Script', cursive;
    text-align: center;
  }
}

.beginning{
  color: white;
  h1,h2,h3,h4{
    color:white;
  }
  padding: 0px 0px 20px 0px;
  .field-name-title{
    text-transform:uppercase;
    padding-bottom: .5em;
  }
  .field-name-field-faculty-title{
    font-size: smaller;
  }
}
.middle,
.end {
  .left{
    background-color: rgba(255,255,255, .85);
  }
  > div { padding: 30px;}
  .field-label{
    padding: .5em 0px;
  }
  .field-item{
    padding-bottom: 1em;
  }
}
.end{
  //background-color: rgba(255,255,255, .85);
}

//==homepage specifics
#home-row{

  .left, .center, .right{
    font-family: 'robotothin';
    padding-bottom: 1em;
    div{
      //background: rgba(255,255,255,.2);
      border: 2px solid white;
      text-align: center;
      height: 100%;
      &:hover,
      &:focus,
      &:active{
        //background: rgba(255,255,255, .5);
        background: rgba(255, 203, 5, .3);
      }
    }
    a{
      color: white;
      text-transform: uppercase;
      font-size:@font-size-h3;
      margin: 10% 0;
      display:block;
      min-height: 1em;
      @media @tablet{
        min-height: 4.285em;
        margin: 20% 0px;
      }
      &:hover,
      &:focus,
      &:active{
        text-decoration:none;
      }
    }
  }
  .right {
     @media @normal{
       a{ margin: 25% 0px 15% 0px;}
   }
  }

}

.navbar.container {
  @media (min-width: @screen-sm-min) {
    //width: @container-sm;
    width: auto;
    max-width:@screen-md-min;
  }
  @media (min-width: @screen-md-min) {
    width: auto;
    max-width: @container-lg;
  }
  @media (min-width: @screen-lg-min) {
    width: auto;
    max-width: @screen-lg-min;
  }
}
